html {
    --colour-bg-dark-blue: #1F2937;
    --colour-bg-grey: #E5E7EB;;
    --colour-text-light: #F9FAF8;
    --colour-primary-blue: #3882F6;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 24px;
    color: var(--colour-text-light);
}

a {
    text-decoration: none;
    color: var(--colour-text-light);
    padding-right: 48px;
}

img {
    width: 720px;
}

p {
    margin-bottom: 10px;
}

.hero,
.top-page,
.footer {
    background-color: var(--colour-bg-dark-blue);
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 24px 200px;
}

.top-page {
    color: var(--colour-text-light);
    display: flex;
    padding: 200px;
    justify-content: space-between;
    gap: 24px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.top-links {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-button {
    color:var(--colour-text-light);
    background-color: var(--colour-primary-blue);
    border: none;
    padding: 8px 32px;
    border-radius: 10px;
    font-weight: 600;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: var(--colour-bg-dark-blue);
    font-weight: 900;
}

.mid-page {
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 48px;
}

.info-pair {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.square-img {
    height: 240px;
    width: 240px;
    border: 8px solid var(--colour-primary-blue);
    border-radius: 10px;
    overflow: hidden;
}

.info-text {
    text-align: center;
}

.quote {
    background-color: var(--colour-bg-grey);
}

.quote-body {
    font-size: 36px;
    font-style: italic;
    color: var(--colour-bg-dark-blue);
    padding: 0px 400px;
    margin-top: 100px;
}

.quote-author {
    font-weight: 900;
    padding: 0px 340px;
    text-align: right;
    margin-bottom: 100px;
}

.footer {
    color: var(--colour-text-light);
    text-align: center;
    padding: 24px;
}

.call {
    display: flex;
    background-color: var(--colour-primary-blue);
    border-radius: 10px;
    margin: 100px 200px;
    padding: 48px 300px;
    justify-content: space-between;
    align-items: center;
}

.call-text {
    color:var(--colour-text-light);
    font-size: 18px;
}

.call-bold {
    font-weight: 700;
    font-size: 24px;
}

.call-button {
    color:var(--colour-text-light);
    font-size: 18px;
    background-color: var(--colour-primary-blue);
    border: 2px solid white;
    padding: 8px 64px;
    border-radius: 10px;
    font-weight: 600;
}