body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    padding-right: 48px;
}

img {
    width: 720px;
}

p {
    margin-bottom: 10px;
}

.hero,
.top-page {
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 24px 200px;
}

.top-page {
    color: #F9FAF8;
    display: flex;
    padding: 200px;
    justify-content: space-between;
    gap: 24px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.top-links {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-button {
    color:#F9FAF8;
    background-color: #3882F6;
    border: none;
    padding: 8px 32px;
    border-radius: 10px;
    font-weight: 600;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.mid-page {
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 48px;
}

.info-pair {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.square-img {
    height: 240px;
    width: 240px;
    border: 8px solid #3882F6;
    border-radius: 10px;
    overflow: hidden;
}

.info-text {
    text-align: center;
}